
        .body{
            padding: 10px;
            margin: 0;
            background-image:url("https://plus.unsplash.com/premium_photo-1661382019197-94d5edb38186?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
            background-repeat: no-repeat;
            background-size: 1600px 1000px;
        }
        #gridi{
            display: grid;
            grid-template-columns: 75px 75px 75px 75px 75px;
            grid-gap:5px;
            height: 400px;
            width: 403px;
            margin: auto;
            border: 2px solid gray;
            border-radius: 1%;
            background:gray;  
            justify-content: space-evenly;
            justify-content: center;
            
        }

        #head1{
            text-align:center;
            border: 1px gray solid;
            border-radius: 10%;
            width: 395px;
            height: 100px;
            margin: auto;
            color: white;
            background:gray;
            padding: 5px;
            font-family: monospace;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #head1:hover{
            color: yellow;
        }
        #inputtext{
            height: 100px;
            width: 400px;
            background:gray;  
            border: 1px gray solid;
 
            font-size: 40px;
            color: white;
            /*hsl(202, 11%, 29%);*/
            font-family: monospace;
            border-radius: 10%;

        }
        .btn{
            border-radius: 15%;
            cursor:pointer; 
            transition: all 0.2s ease;
            transform: translateY(2px);
            font-size: 30px;
            background-color: black;
            color: white;
            border: 1px white solid;

        }
        /*#plus{
            height: 200px;
        }
        #one,#two,#three,#four{
            height: 50px;
        }*/
        .btn1{
            font-size: 30px;
            background-color: black;
            color: white;
        }
        #InputBoxforCal{
            display: grid;
            grid-template-columns: 150px 400px;
            grid-gap: 5px;
            margin: auto;
            justify-content: center;
            position: relative;
            left: -30px;
        }
        #nav{
            width: 400px;
        }
        #left{
            float:left;
        }
        #right{
            float: center;
        }
        .btn:hover{
            color: orange;
            background-color: cornflowerblue;
        }
        @media screen and (min-width:180px) and (max-width:700px) {
            #left{
                float: right;
            }
            #right{
                float: left;
                font-size: smaller;
            }
            #left{
                float: right;
            }
            #right{
                float: left;
                font-size: smaller;
            }
            #InputBoxforCal{
                grid-template-columns: 105px 250px;
                align-items: center;
                float: left;
            }
            #wc{
                font-size: x-small;
                width: 20px;
                position: relative;
                left: 25px;
            }
            #gridi{
                width: 250px;
                height: 250px;
                grid-template-columns: 45px 45px 45px 45px 45px ;
            }
            .btn{
                font-size: 15px;
            }
            #inputtext{
                width: 247px;
                font-size: 25px;
                color: white;
            }
            #head1{
                width: 240px;
                font-size: 25px;
            }
            #nav{
                width: 200px;
            }
        }
        @media screen and (min-width:701px) and (max-width:1000px){
            #wc{
                font-size: smaller;
                position: relative;
                top: 50px;
            }
        }
